<footer class="main-footer">
    Learning Management System is delepoved by <strong>Ritik Dubey</strong> and <strong>Gautam Yadav</strong>.<br />Helped by Lalit Sir.
    <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 1.0.0.1
    </div>
</footer>