@modal LMS.Models.FileUpload

@{
    ViewBag.Title = "FileUpload";
    Layout = "~/Views/Shared/Admin/_Layout.cshtml";
}
<!-- Server side start -->
<div class="col-12">
    <div class="card mt-5">
        <div class="card-body">
            <h4 class="header-title">Server side</h4>
            <form class="needs-validation" novalidate="">
                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <label for="yr">Year</label>
                        <select required id="yr" class="form-control">
                            <option value="1st Year">1st Year</option>
                        </select>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="sm">Semester</label>
                        <select id="sm" class="form-control">
                            <option value="1st Semester">1st Semester</option>
                        </select>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            This field is required
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="sub">Subject</label>
                        <select class="form-control" id="sub">
                            <option onclick="console.log('kljdsfkljdsfj')" value="Subject 1">Subject 1</option>
                            <option selected value="se">aklsf;djklj;asdf</option>
                        </select>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            This field is required
                        </div>
                    </div>
                </div>


                <b class="text-muted mb-1 mt-0 d-block">Select Document Type</b>
                <div class="custom-control custom-radio mb-lg-2 custom-control-inline">
                    <input value="Notes" type="radio" name="upload_type" class="custom-control-input" id="notes" />
                    <label class="custom-control-label" for="notes">Notes</label>
                </div>

                <div class="custom-control custom-radio custom-control-inline">
                    <input value="Syllabus" type="radio" name="upload_type" class="custom-control-input" id="syy" />
                    <label class="custom-control-label" for="syy">Syllabus</label>
                </div>

                <div class="custom-control custom-radio custom-control-inline">
                    <input value="Assignment" type="radio" name="upload_type" class="custom-control-input" id="ass" />
                    <label class="custom-control-label" for="ass">Assignment</label>
                </div>


                <div class="input-group mb-3">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile02">
                        <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
                    </div>
                    <div class="input-group-append">
                        <span class="input-group-text">Upload</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                        <label class="form-check-label" for="invalidCheck">
                            Agree to terms and conditions
                        </label>
                        <div class="invalid-feedback">
                            You must agree before submitting.
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary" type="submit">Submit form</button>
            </form>
        </div>
    </div>
</div>
<!-- Server side end -->